<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>notes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (tap)="goToAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list *ngIf="notes">
    <h2 *ngIf="notes.length == 0" text-center ion-text color="dark">There's no notes added yet</h2>
    <ion-item-sliding *ngFor="let note of notes" >
      <button ion-item (tap)="goToDetail(note.id)">
        <h2>{{note.title}}</h2>
        <p>{{note.content}}</p>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (tap)="deleteNote(note.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
