page-add-note {
  ion-textarea{
    resize: both;
  }
  #title-input{
    font-weight: 700;
    font-size: 1.5em;
  }


  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
}
